.secendform .row{
    padding-bottom: 10px;
}
.secendform .user_name {
    padding: 4px 0px;
    float: right;
    font-size: 15px;
}
.secendform .form-control {
    font-size: 15px;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #639;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: rebeccapurple;
    height: 48px;
    padding: 9px;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #eee;
    height: 51px;
    padding: 11px;
    margin-bottom: -6px;
}

.dashtitle{
    font-size: 17px;
    font-weight: bold;
    float: right;
}

.addbtnplus{
    float: right;
    padding-bottom: 13px;
}

.appendform{
    width: 308px;
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
}
.appendbody a img, .removeFeatureGroupBtn img, .removeFeatureBtn img{
    width: 25px;
    margin-bottom: 17px;
}

.sr-input-func {
    position: relative;
    margin: 0;
    width: 180px;
    right: 0px;
    transition: .5s ease-out;
}

.breadcome-heading .form-control, .sr-input-func .form-control:focus {
    border: 1px solid #ececec;
    font-size: 14px;
    height: 34px;
    color: #303030;
    padding-left: 20px;
    padding-right: 40px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border-radius: 30px;
    width: 246px;
    margin-bottom: 17px;
}
.sr-input-func a {
    position: absolute;
    top: 3px;
    right: -57px;
    color: #999;
    transition: .5s ease-out;
    font-size: 22px;
}

a:visited, a:link, a:active {
    text-decoration: none;
}

.form-group label {
    font-size: 15px;
    color: #07000e;
    margin-top: 2px;
    font-weight: bold;
}
.form-control-label {
    font-size: 15px;
    color: #07000e;
    margin-top: 2px;
    font-weight: bold;
}

.tx-danger{
    color: red;
}
.rowpad{
    margin-bottom: 15px;
}

.accountsection{
    background: aqua;
    margin-top: 9px;
    padding: 4px;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.ui-autocomplete {
    max-height: 250px;
    min-width: 250px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

.ui-menu .ui-menu-item{
    min-width: 350px;
    font-size: 13px;
}
